<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="sv" lang="sv">    
    <head>
        <meta http-equiv="Content-Type" content="text/html charset=utf-8" />
        <link rel="stylesheet" title="magnum" type="text/css" href="../CSS/magnum.css" />
		<link rel="alternate stylesheet" title="none" type="text/css" href="../CSS/empty.css.css" />	  
        <title>Skriv namnet på sidan här!</title>	
    	<style type="text/css">
		.auto-style1 {
			font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
		}
		.auto-style2 {
			font-size: large;
		}
		</style>
    </head>
    <body>
        <div id="content">
            <div id="top">
               <div id="banner" >
				   <img alt="Ahmed K Fitness" height="245" src="file:///C:/Users/ts10271/Desktop/AhmedkfitnessLogo.png" width="1002" /><div id="footer">
</div>
            </div>
            <div id="left">
					<div class="auto-style1" id="frame">
						<strong><span class="auto-style2"><a href="#">Hem</a><br />
						<a href="#">Övningar</a><br />
						<a href="#">Motivation</a><br />
						<a href="#">Kosttillskott</a><br />
						<br />
						</span></strong><br />
					</div>
            </div>
            <div id="center-right">
				Mitten och höger kolumnen!!
                <div id="info">
				<h1 class="dokument-item-header"> Ahmed K Fitness<form method="post">
				</form>
					</h1>
				<p class="info">Inledning på webbsidan.</p>
</div>
</div>


			<div id="footer">
				<p> &copy; 2013 Ditt namn här. Detta är en fotnot# 
				</p>
			</div>
        </div>
    </body>
</html>